name: Fail if any npm package is outdated
on:
  schedule:
  - cron: '47 12 * * 4' # Runs every Thursday at 12:47 UTC

jobs:
  check-if-outdated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Show npm version
        run: npm --version

      - name: Install dependencies
        run: npm install

      - name: Check for outdated packages
        run: npm outdated
