name: Check for outdated npm packages
on:
  schedule:
  - cron: '15 11 * * 4' # Runs every Thursday at 11:15 UTC

jobs:
  check-outdated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Check for outdated packages
        run: npm outdated || echo "All packages are up to date" #npm outdated @intersystems/intersystems-iris-native || echo "@intersystems/intersystems-iris-native is up to date"
