name: Check for outdated InterSystems npm package
on:
  schedule:
  - cron: '45 11 * * 4' # Runs every Thursday at 11:45 UTC

jobs:
  check-npm-isc-outdated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Check for outdated ISC package
        run: npm outdated @intersystems/intersystems-iris-native || echo "@intersystems/intersystems-iris-native is up to date"
