name: Check Outdated npm Package
on:
  schedule:
  - cron: '30 10 * * 4' # Runs every Thursday at 10:30 UTC

jobs:
  check-outdated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Check for outdated package
        run: npm outdated @intersystems/intersystems-iris-native || echo "@intersystems/intersystems-iris-native is up to date"
